.header-bg {
    background-color: black;
}

.header-color {
    color: white !important;

}

.header-color :hover {
    color: black !important;
    border: 1px solid red;
    background-color: red;
}

.navbar-toggler-1 {
    border: 1px solid white !important;
}

.center {
    text-align: center;
}

.jumbo-color {
    background-color: violet;
}